<form action="/cart" method="POST">
    <button class="btn" type="submit">Add to Cart</button>
    <input type="hidden" name="productId" value="<%= product.id %>">
    <input type="hidden" name="productTitle" value="<%= product.title %>">
    <input type="hidden" name="productPrice" value="<%= product.price %>">
</form>